<%= link_to conversation_path(conversation.id)  do %>
	<li class="profile-li <%=conversation.read?%>">
		<div class="profile-item-container">
			<div class="profile-info-container">
				<span class="profile-thumb-container">
					<img class="profile-thumb" src="/default_profile_image.png"></img>
				</span>
				<div class="profile-information-container">
					<div class="profile-information-username font-weight-600">
						<span class="username-link"><%=conversation.other_user(current_user).username%></span>
					</div>
					<div class="profile-information-name">
						<% if conversation.messages.last.user_id == current_user.id %>
							<p class="preview"><span>You: </span> <%=conversation.messages.last.body%></p>
						<% else %>
							<p class="preview"><%=conversation.messages.last.body%></p>
						<% end %>
					</div>
				</div>
			</div>
			<div class="float-right g-ml-20">
				<span class="time">
					<%=conversation.updated_at.strftime("%a, %d %b %Y, %I:%M %p")%>
				</span>
			</div>
		</div>
	</li>		
<% end %>

