<div class="problem-item-card problem-filter-card col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<%=link_to problem_path(problem.id) do %>
		<h3 class="branch-name">
			<% if signed_in? and problem.solved?(current_user) %>
				<div class="problem-solved-icon"></div>
			<% end %>
			<%=problem.title%>
		</h3>
		
	<% end %>

		<div style="margin-bottom: 15px; padding-bottom: 15px;">
		<li class="percent-solved">Solved by <span class="problems-solved"><%=pluralize(problem.solved_by, 'user')%></span> </li>
		<li class="percent-solved">Success rate: <span class="problems-solved"><%= percentage(problem.solved_by, problem.submissions).round(2) %>%</span></li>
		<li class="percent-solved">Difficulty: 
			<span class="problems-solved">
				<% problem.difficulty.downto(1) do |i| %>
					<span class="glyphicon glyphicon-star"></span>
				<% end %>
				<% (3 - problem.difficulty).downto(1) do |i| %>
					<span class="glyphicon glyphicon-star-empty"></span>
				<% end %>
			</span>
		</li>
		<% if signed_in? %>
			<li>
			<%= link_to "/topics/#{problem.id}", title: "Discussion Thread" do %>
				<img src="/chat.png" style="height: 1.8em; vertical-align: top;"  class="g-mr-5">
				<span class="font-weight-600">Discussion</span>
			<% end %>
			</li>
			<% if current_user.admin? %>
				<li><%= link_to "Delete", problem, method: :delete,
																				data: { confirm: "You sure?" } %></li>
				<li><%= link_to "Edit", edit_problem_path(problem) %></li>
			<% end %>
		<% end %>

		<div class="btn-container" style="text-align: center;">
			<%= link_to problem_path(problem.id) do %>
				<% if signed_in? && problem.solved?(current_user) %>
					<button type="button" class="btn btn-lg btn-default dash-btn">Visit Problem</button>
				<% else %>
					<button type="button" class="btn btn-lg btn-default dash-btn">Solve Problem</button>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

