<% provide(:title, 'Dashboard') %>
<h1 class="text-center font-weight-600"> Dashboard </h1>

<div class="container dashboard-page">
	<% branch_num = 1 %>
	<% @branches.each do |branch| %>
		<div class="row">
			<%= link_to branch_path(branch) do %>
			<div class="col-md-10 col-md-offset-1 col-lg-offset-2 col-lg-8 col-sm-12 col-xs-12 branch-card">
				<div class= "dash-icon" style="background-image: url(/dash_icon<%=branch_num%>.png)"></div>
				<h3 class="branch-name" ><%=branch.name%></h3>
				<% if signed_in? %>
					<% problems_solved = current_user.branch_problems_solved(branch) %>
					<% branch_count = Problem.branch_count(branch) %>
					<div class="progress">
  					<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:<%=perc = percentage(problems_solved, branch_count) %>%">
					 	</div>
					</div>
					<p class="problems-solved"><span class="percent-solved"><%=perc.round(2)%>%</span> (<%="#{problems_solved}/#{branch_count}" %> problems solved)</p>
				<% end %>
				<button type="button" class="btn btn-lg g-btn-green-primary">Browse Problems</button>
			</div>
			<% end %>
		</div>
		<% branch_num = branch_num + 1 %>
	<% end %>
</div>


