<div class="comment-item" id="comment-<%=comment.id%>">
	<div class="vote-container vote-container-comment" style="float: left;">
		<%= link_to like_path(:vote_type => "like", :votable_type => "comment", :id => comment.id ), method: :put, remote: true do %>
			<% if !current_user.liked? comment %>
				<p class="glyphicon glyphicon-triangle-top" id= "comment-upvote-<%=comment.id%>"></p>
			<% else %>
				<p class="glyphicon glyphicon-triangle-top light-purple" id= "comment-upvote-<%=comment.id%>"></p>
			<% end %>
		<% end %>
		<p id="comment-vote-count-<%=comment.id%>" style="text-align: center;"><%= comment.cached_votes_score %> </p>
		<%= link_to like_path(:vote_type => "dislike", :votable_type => "comment", :id => comment.id ), method: :put, remote: true do %>
			<% if !current_user.voted_down_on? comment %>
				<p class="glyphicon glyphicon-triangle-bottom" id="comment-downvote-<%=comment.id%>"></p>
			<% else %>
				<p class="glyphicon glyphicon-triangle-bottom light-purple" id="comment-downvote-<%=comment.id%>"></p>
			<% end %>
		<% end %>
	</div>

	<div class="comment-text">
		<% if current_user == comment.user %>	
			<%= link_to destroy_comment_path(:comment_id => comment.id), style: "float: right;", :method => :delete, :data => { :confirm => "Are you sure?" }, :remote  => true do %>
				<span class="glyphicon glyphicon-remove"></span>

			<% end %>
		<% end %>
		<div class="action_buttons">
			&nbsp; &nbsp;
			<% if current_user.id == comment.user_id %>
				&nbsp; &nbsp;<%= link_to "Edit", edit_comment_path(comment.id), 
													remote: true, class: "edit-comment-link" %> &nbsp; &nbsp;
			<% end %>
			<a href="#">Report</a> &nbsp; &nbsp;
		</div>

		<a href="<%=user_path(comment.user.id)%>"><span style="clear:both; margin-top: 25px; padding-right: 6px;", class="bold-text"> <%=comment.user.username%></span></a>
		<span style=""><img src="/score_icon.png" style="width: 12px; height: 12px; vertical-align: middle;"> </span><span class="time-ago" style="font-size: 12px; margin-left: 0; margin-bottom: 0; margin-top: 0; color: #37174a;"> <%=comment.user.score%> </span>
		<span class="time-ago"style=""><%= time_ago_in_words(comment.created_at) %> ago</span>
 
		<p class="comment-styles"><%=comment.content%></p>	
	</div>
</div>

