<div class="row edit-comment-container" id="edit-comment-<%=@comment.id%>">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 post-container">
		<div class="thumbnail">
			<div class="modal-header">
				<a href=<%=user_path(current_user.id)%>>
					<%= image_tag '/default_profile_image.png', style: "width: 30px; height: 30px;", class:"round-thumb" %>
					<span class="username-feed"><%=current_user.username%></span>
				</a>
			</div>
			<div	class="forum_message">
				<div style="text-align:center;">
	
					<div style="font-size:90%;color:#aaa;">Please remember to be courteous and respectful in making posts.</div>
					<%= form_for(@comment, :remote => true, html: {class: "update-comments-form", 'data-type': 'json'}) do |f| %>
						<%= hidden_field_tag 'id', @comment.id %>
						<%= f.text_area :content, placeholder: "Update comment...", class: "post-textarea" %>

						<div class="post-actions">
							<%= f.submit "Cancel", class: "btn btn-md general-post-btn submit-btn submit-comment-btn" %>
							<span class="btn btn-md general-post-btn g-default-btn-to-right preview-btn" data-toggle="modal" data-target="#preview-modal">Preview</span>
								<%= f.submit "Update", class: "btn btn-md general-post-btn submit-btn submit-comment-btn" %>
						</div>
					<% end %>
					<p style="font-size:90%">
						<b>NOTE:</b>
						 You have full access to your own posts and you will be able to edit/delete them at any time.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
