<%= render '/topics/preview' %>
<%= render '/conversations/new' %>
<div id="frame" class="primary-bs">
	<div id="sidepanel">
		<div id="profile" class="dark-grey-circle">
			<div class="wrap">
				<% if current_user.profile_image? %>
					<img id="profile-img" src="<%=current_user.profile_image.thumb.url%>" alt="profile image" />
				<% else %>
					<img id="profile-img" src="/einstein.png" alt="profile image" />
				<% end %>
				<h4 class="g-ml-10 font-weight-600"><%=current_user.username%></h4>
			</div>
		</div>
		<div id="contacts">
			<ul>
				<% @conversations.each do |conversation| %>
					<%= link_to conversation_path(conversation.id) do %>
					<% if @conversation.id == conversation.id %>
						<li class="contact active">
					<% else %>
						<li class="contact <%=conversation.read?(current_user)%>">
					<% end %>
					<div class="wrap">
						<% if conversation.other_user(current_user).profile_image? %>
							<img id="profile-img" src="<%=conversation.other_user(current_user).profile_image.thumb.url%>" alt="profile image" />
						<% else %>
							<img id="profile-img" src="/einstein.png" alt="profile image" />
						<% end %>

						<div class="meta">
							<p class="name"><%=conversation.other_user(current_user).username%></p>
							<% if conversation.messages.last.user_id == current_user.id %>
							<p class="preview"><span>You: </span> <%=conversation.messages.last.body%></p>
							<% else %>
								<p class="preview"><%=conversation.messages.last.body%></p>
							<% end %>
						</div>
					</div>
				</li>
				<% end %>
				<% end %>
			</ul>
		</div>
		<div id="bottom-bar">
			<button id="" class="dark-grey-circle" data-toggle="modal" data-target="#new-conversation-modal"><span style= "color: #D8D8D8;"> <img class="inline-icon" title="New Conversation"src="/new_message_icon.png"> <span id="new-msg-btn" class="g-ml-5">New</span></span></button>
		</div>
	</div>
	<div class="content">
		<div class="messages">
			<ul>
				<% @messages.each do |message| %>
					<% if message.user_id == current_user.id %>
						<li class="replies">
							<% if current_user.profile_image? %>
								<img id="profile-img" src="<%=current_user.profile_image.thumb.url%>" alt="profile image" />
							<% else %>
								<img id="profile-img" src="/einstein.png" alt="profile image" />
							<% end %>

							<p><%=message.body%></p>
						</li>
					<% else %>
						<li class="sent">
							<% if current_user.profile_image? %>
								<img id="profile-img" src="<%=current_user.profile_image.thumb.url%>" alt="profile image" />
							<% else %>
								<img id="profile-img" src="/einstein.png" alt="profile image" />
							<% end %>

							<p><%=message.body%></p>
						</li>
					<% end %>
				<% end %>
			</ul>
		</div>
		<div class="message-form-container">
			<%= form_for @message, html: { multipart: true, class: "messages-form" }, :remote => true, :authenticity_token => true do |f| %>
				<%= f.text_area :body, placeholder: "Add a message...", class: "message-text-area" %>
				<%= hidden_field_tag :conversation_id, @conversation.id %>
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				
	
		
		<div class="msg-actions">
			<span id="" class="preview-btn" data-toggle="modal" data-target="#preview-modal">Preview</span>
			<span id="" class="msg-submit">Send</span>
		</div>
		</div>
		<% end %>
	</div>
</div>
