<%= render '/topics/preview' %>
<% provide(:title, "Thread #{@thread.id}") %>
<div class = "thread-body">
	<p style="text-align:right;">
		<a href="/math-formatting"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Formatting Posts...</a>
	</p>

	<div class="row new-post-container">
		<div class="col-md-offset-2 col-lg-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 post-container">
			<div class="thumbnail">
				<div class="modal-header">
					<a href=<%=user_path(current_user.id)%>>
						<%= image_tag '/default_profile_image.png', style: "width: 30px; height: 30px;", class:"round-thumb" %>
						<span class="username-feed"><%=current_user.username%></span>
					</a>
				</div>
				<div	class="forum_message">
					<div style="text-align:center;">
	
					<%= render 'shared/error_messages' %>
						<div style="font-size:90%;color:#aaa;">Please remember to be courteous and respectful in making posts.</div>
						<%= form_for(@post, :remote => true, html: {id: "posts-form", class: 'posts-form', 'data-type': 'json'}) do |f| %>
							<%= hidden_field_tag 'topic_id', @thread.id %>
							<%= hidden_field_tag 'user_id', current_user.id %>
							<%= f.text_area :content, placeholder: "Add a post...", class: "post-textarea" %>


							<div class="post-actions g-mt-20 g-mb-20">
									<span class="btn g-mr-5 g-rounded-20 g-btn-secondary preview-btn" data-toggle="modal" data-target="#preview-modal">Preview</span>
									<%= f.submit "Post", class: "btn g-rounded-20 g-btn-primary submit-post-btn" %>
							</div>
						<% end %>
						<p style="font-size:90%">
							<b>NOTE:</b>
							 You have full access to your own posts and you will be able to edit/delete them at any time.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<% post_count = 0 %>
	<% @posts.each do |post| %>
		<div class="row">
			<div class="col-md-offset-2 col-lg-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 post-container" id="post-count-<%=post_count%>">
				<div class="thumbnail">
						<div class="modal-header">
							<a href=<%=user_path(post.user)%>>
								<%= image_tag '/default_profile_image.png', style: "width: 30px; height: 30px;", class:"round-thumb" %>
								<%# end %>
								<span class="username-feed"><%=post.user.username%></span>
								<%# if current_profile == post.profile %>
								<%# end %>
							</a>
	
							<div class="vote-container vote-container-post">
								<%= link_to like_path(:vote_type => "like", :votable_type => "post", :id => post.id ), method: :put, remote: true do %>
									<% if !current_user.liked? post %>
										<p class="glyphicon glyphicon-triangle-top" id= "post-upvote-<%=post.id%>"></p>
									<% else %>
										<p class="glyphicon glyphicon-triangle-top light-purple" id= "post-upvote-<%=post.id%>"></p>
									<% end %>
								<% end %>
								<p id="post-vote-count-<%=post.id%>" style="text-align: center;"><%= post.cached_votes_score %> </p>
								<%= link_to like_path(:vote_type => "dislike", :votable_type => "post", :id => post.id ), method: :put, remote: true do %>
									<% if !current_user.voted_down_on? post %>
										<p class="glyphicon glyphicon-triangle-bottom" id="post-downvote-<%=post.id%>"></p>
									<% else %>
										<p class="glyphicon glyphicon-triangle-bottom light-purple" id="post-downvote-<%=post.id%>"></p>
									<% end %>
								<% end %>
							</div>

		
							<div class="action_buttons">
								&nbsp; &nbsp;
								<% if current_user.id == post.user_id %>
									<%= link_to "Delete", post_path(id: post, post_count: post_count), 																		:method => :delete, remote: true, 
																	 :data => { :confirm => "Are you sure?" } %>
								&nbsp; &nbsp;<%= link_to "Edit", edit_post_path(id: post.id, post_count: post_count), remote: true, class: "edit-post-link" %> &nbsp; &nbsp;
								<% end %>
								<!-- Functionality for later 
								<a href="#">Report</a> &nbsp; &nbsp;
								-->
								<%# @post = post %>
								<!--<%#= link_to like_path(:post => post), method: :put, remote: true do %>
									<%# if current_user.liked? post %>
										<span class="glyphicon glyphicon-thumbs-up like-btn<%#="#{post.id}"%> liked"></span>
									<%# else %>
										<span class="glyphicon glyphicon-thumbs-up like-btn<%#="#{post.id}"%>"></span>
									<%# end %>
								<%# end %>
								&nbsp;
								<span class="likes-count<%#= post.id %>"><%#= post.get_upvotes.size %> </span>-->
							</div>

	<!--	
							<div class="vote-container">
								<p class="glyphicon glyphicon-triangle-top"></p>
								<p style="text-align: center;"><%#= post.get_upvotes.size %> </p>
								<p class="glyphicon glyphicon-triangle-bottom"></p>
							</div>-->
<!--
							<span title="Post settings" id = "post-settings-<%#=post.id%>" class="glyphicon glyphicon-cog" style="float: right;"></span>
-->
						</div>
						<%# image_tag post.image.profile_post1.url, class: "img-responsive feed-img"%>
						<div	class="forum_message">
							<p> <%= post.content %> </p>
						</div>

					<div class="caption">
						<!--<div class="vote-container">
							<p class="glyphicon glyphicon-triangle-top"></p>
							<p><%#= post.get_upvotes.size %> </p>
							<p class="glyphicon glyphicon-triangle-bottom"></p>
						</div>-->
						<!--<p>
							<div class="like-container">
								<a href="<%#=vote_path(:post => post)%>" data-remote="true"><%#= image_tag "/dog-pawprint-on-a-heart.png", style: "float: left; margin-right: 15px;" %>
								<%# if current_profile.liked? post %>
									<div class="like-btn like-btn<%#=post.id%> liked">
								<%# else %>
									<div class="like-btn like-btn<%#=post.id%>">
								<%# end %>
										<img src="/dog-pawprint-on-a-heart1.png" style="width: 25px; height: auto;">
									</div>
							</div>
							</a>
							<a class="glyphicon glyphicon-comment" style="width: 32px; height: auto; cursor: pointer; font-size: 25px;"></a>
						</p>-->
						<!--
						<span style="clear:both; padding-top: 10px;", class="bold-text likes-count-<%#=post.id%>"> <%#=post.get_upvotes.size%> <%#="like".pluralize(post.get_upvotes.size)%></span><br><br>
						<%# if !post.description.blank? %>
						<p>
						<span style="clear:both; margin-top: 25px; padding-right: 6px;", class="bold-text"> <%#=post.profile.username%></span> <span class="comment-styles"><%#=post.description%></span>
						</p>
						<%# end %>
						<div style="clear: both"></div>-->
						<div class="comment-section" id="comment-section-<%=post.id%>">
							<% if post.comments.size > 5 %>
								<span style="clear:both; padding-top: 10px; padding-bottom: 10px; margin-bottom: 10px; bottom: 10px;", class="more-comments-link" id="more-comments-<%=post.id%>">Load more comments</span>
							<% end %>
						<% post.comments.order(created_at: :desc)[0..4].reverse.each do |comment| %>
							<%= render partial: '/comments/comments', locals:  { comment: comment } %>
						<% end %>
						</div>
							<p class="time-ago" style="float:right; margin-right: 20px;"><%= time_ago_in_words(post.created_at) %> ago</p>
							<div class="comment-form-container">
								<%= form_for Comment.new, html: { multipart: true, class: "comments-form" }, :remote => true, :authenticity_token => true do |f| %>
									<%= f.text_area :content, placeholder: "Add a comment...", class: "comment-text-area", id: "comment-text-area-#{post.id}" %>
									<%= f.hidden_field :post_id, :value => post.id %>
									<%= f.hidden_field :user_id, :value => current_user.id %>
									<div class="comment-actions g-mt-20 g-mb-20">
										<span class="btn g-rounded-20 g-mr-5 g-btn-secondary preview-btn" data-toggle="modal" data-target="#preview-modal">Preview</span>
      							<%= f.submit "Submit", class: "g-rounded-20 btn btn-md submit-btn g-btn-primary" %>
									</div>

								<% end %>
							</div>
					</div>
				</div>
			</div>
		</div>
		<% post_count = post_count + 1 %>
	<% end %>
	<% if @thread.posts.count > 10 %>
		<div class="more-posts-container" style="text-align: center;">
			<span class="btn g-btn-secondary more-posts-btn" id="more-posts-btn-<%=@thread.id%>">Load More Posts</span>
    </div>
	<% end %>
</div>



<!--
<script>
	MathJax.Hub.Queue(["Typeset",MathJax.Hub]);	
</script>-->

