<% provide(:title, "Edit problem") %>
<%= render 'topics/preview' %>

<% content_for :mathjax do %>
	<%= mathjax_tag %>
<% end %>

<div class="custom-form new-problem-view">
  <div class="limiter">
  	<div class="container-login100">
  		<div class="wrap-login100 primary-bs">
  			<div class="login100-form-title" style="background-image: url(/form-bg1.jpg);">
				<span class="login100-form-title-1">
					Edit Problem
				</span>
			</div>

				<%= form_for(@problem, :html => { :method => :patch, :class => 'update-problems-form login100-form validate-form', novalidate: :true }, url: problem_path(@problem.id)) do |f| %>

					
    			<%= render 'shared/error_messages' %>
					
					<% Branch.all.each do |branch| %>
						<div class="field wrap-input100 validate-input m-b-18">
						<span class="label-input100" style="font-size: 12px; width:90px;"><%=branch.name%></span>
						<% branch.subtopics.each do |subtopic| %>
							<div class="form-check contact100-form-checkbox">
								<label class="label-checkbox100"><%=subtopic.name%>
									<input class="branch-input input-checkbox100" id="subtopic-<%=subtopic.id%>"  type="checkbox" name="subtopic[]" multiple value="<%=subtopic.id%>" <%= "checked" if @problem.subtopics.include?(subtopic) %>> <span class="label-text checkmark"></span>
								</label>
							</div>
						<% end %>
						<span class="focus-input100"></span>
					</div>
					<% end %>	
 
  				<div class="field wrap-input100 validate-input m-b-18">
						<span class="label-input100" style="font-size: 12px; width:90px;">Title</span>
    				<%= f.text_field :title, autocomplete: "off", class: "input100", placeholder: "Enter Problem title" %>
						<span class="focus-input100"></span>
  				</div>

  				<div class="field wrap-input100 validate-input m-b-18">
						<span class="label-input100" style="font-size: 12px; width:90px;">Answer</span>
    				<%= f.text_field :answer, autocomplete: "off", class: "input100", placeholder: "Enter problem answer" %>
						<span class="focus-input100"></span>
  				</div>

  				<div class="field validate-input m-b-18">
						<span class="label-input100" style="font-size: 12px; width:90px;">Difficulty</span>
						<% difficulties = [[1, 1], [2, 2], [3, 3]] %>
						
    				<%= f.select(:difficulty, options_for_select(difficulties, :selected => @problem.difficulty ), {}, { class: "form-control country-select"}) %>
						<span class="focus-input100"></span>
  				</div>

					<div class="m-b-18 field bio">
      			<span class="label-input100" style="font-size: 12px; width:90px;">Question</span>
						<%= f.text_area :question, autocomplete: "off", class: "g-mt-5 form-control new-question-textarea", placeholder: "What is the question?" %>
    				<span class="focus-input100"></span>

					</div>
					<% if @problem.problem_attribution %>

					<h2 class="font-weight-600 w-100 g-mb-20" > Problem Attribution </h2>
		
					<div class="field validate-input m-b-18">
						<span class="label-input100" style="font-size: 12px; width:90px;">Update Problem Attribution?</span>
    				<select class="form-control" name="problem_attribution[update]">
    					<option value="yes">yes</option>
    					<option value="no" selected>no</option>
 						</select>
						<span class="focus-input100"></span>
  				</div>

				
					<div class="field validate-input m-b-18">
						<span class="label-input100" style="font-size: 12px; width:90px;">Source Type</span>
    				<select class="form-control" name="problem_attribution[source_type]">
    					<option value="book" <%= "selected" if @problem_attribution && @problem_attribution.source_type == "book"%>>book</option>
    					<option value="website" <%= "selected" if @problem_attribution && @problem_attribution.source_type == "website"%>>website</option>
 						</select>
						<span class="focus-input100"></span>
  				</div>

					<div class="field wrap-input100 validate-input m-b-18">
						<span class="label-input100" style="font-size: 12px; width:90px;">Title</span>
						<input autocomplete="off" <%= "value=#{@problem_attribution.title}" if @problem_attribution && !@problem_attribution.title.blank? %> class="input100" placeholder="Enter author/authors name" type="text" name="problem_attribution[title]" id="problem_title">
						<span class="focus-input100"></span>
  				</div>

				
					<div class="field wrap-input100 validate-input m-b-18">
						<span class="label-input100" style="font-size: 12px; width:90px;">Author</span>
						<input autocomplete="off" <%= "value=#{@problem_attribution.author}" if @problem_attribution && !@problem_attribution.author.blank? %> class="input100" placeholder="Enter author/authors name" type="text" name="problem_attribution[author]" id="problem_author">
						<span class="focus-input100"></span>
  				</div>

					<div class="field wrap-input100 validate-input m-b-18">
						<span class="label-input100" style="font-size: 12px; width:90px;">Link</span>
						<input autocomplete="off" <%= "value=#{@problem_attribution.link}" if @problem_attribution && !@problem_attribution.link.blank? %> class="input100" placeholder="Enter source link" type="text" name="problem_attribution[link]" id="problem_link">
						<span class="focus-input100"></span>
  				</div>
					
					<% end %>

					<div class="problem-actions g-mt-20">
						<span class="btn g-mr-5 g-rounded-20 g-btn-secondary preview-btn" data-toggle="modal" data-target="#preview-modal">Preview</span>
						<%= f.submit "Update Problem", class: "btn g-rounded-20 g-btn-primary submit-post-btn" %>
					</div>
				<% end %>	
  		</div>
  	</div>
  </div>	
</div>
