<% provide(:title, 'Archives') %>
<h2> Problems Archives </h2>
<p> To view details and submit your answer click on the description/title of 
		the problem.
</p>

<%= will_paginate @problems %>

<% count = 1 %>
<% if @problems.current_page > 1 %>
	<!-- Each page has at most 30 problems -->
	<% count = (@problems.current_page - 1) * 30  + 1 %>
<% end %>

<% if !logged_in? %>
	<table class="table table-striped problems-index">
		<thead>
			<tr>
				<th>ID</th>
				<th>Description / Title</th>
				<th>Solved By</th>
			</tr>
		</thead>
		<tbody>
			<% @problems.each do |problem| %>
				<tr>
					<td><%= problem.id %></td>
					<td><%= link_to problem.title, problem, class: "user_path" %></td>
					<td><%= problem.solved_by %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Description / Title</th>
				<th>Solved By</th>
				<th>Difficulty</th>
				<th>Solved</th>
				<th>Discussion</th>
			</tr>
		</thead>
		<tbody>
			<% @problems.each do |problem| %>
				<tr>
					<td><%= count %></td>
					<td><%= link_to problem.title, problem, class: "user_path" %></td>
					<td><%= problem.solved_by %></td>
					<td>
						<% problem.difficulty.downto(1) do |i| %>
							<span class="glyphicon glyphicon-star"></span>
						<% end %>
						<% (3 - problem.difficulty).downto(1) do |i| %>
							<span class="glyphicon glyphicon-star-empty"></span>
						<% end %>
					</td>
					<td>
						<% if @solved_problems.include? problem %>
							<span class="glyphicon glyphicon-ok" style="color:green"></span>
						<% else %>
							<span class="glyphicon glyphicon-remove" style="color:red"></span>
						<% end %>
					</td>
					<td><a href="topics/<%= problem.id %>"><%= image_tag "forum_icon.png", alt: "Forum Icon" %><span style="float:right"><%= Topic.find(problem.id).posts.length %> posts</span></td></a>
					<% if current_user.admin? %>
						<td><%= link_to "Delete", problem, method: :delete,
																				data: { confirm: "You sure?" } %></td>
					<% end %>
				</tr>
				<% count += 1 %>
			<% end %>
		</tbody>
	</table>

<% end %>


<%= will_paginate @problems %>
