<% provide(:title, 'Dashboard') %>
<h2> Dashboard </h2>

<div class="container dashboard-page">
	<% branch_num = 1 %>
	<% @branches.each do |branch| %>
		<div class="row">
			<div class="col-md-10 col-md-offset-1 col-lg-offset-2 col-lg-8 col-sm-12 col-xs-12 branch-card">
				<div class= "dash-icon" style="background-image: url(/dash_icon<%=branch_num%>.png)"></div>
				<h3 class="branch-name" ><%=branch.name%></h3>
				<% if logged_in? %>
					<% problems_solved = current_user.problems_solved(branch) %>
					<% branch_count = Problem.branch_count(branch) %>
					<div class="progress">
  					<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:<%=perc = percentage(problems_solved, branch_count) %>%">
					 	</div>
					</div>
					<p class="problems-solved"><span class="percent-solved"><%=perc.round(2)%>%</span> (<%="#{problems_solved}/#{branch_count}" %> problems solved)</p>
				<% end %>
				<button type="button" class="btn btn-lg btn-defaulti dash-btn">Browse Problems</button>
			</div>
		</div>
		<% branch_num = branch_num + 1 %>
	<% end %>
<!--
		<div class="col-md-6">
			<div class="col-md-12"style="background-color:white;">
				Two
			</div>
		</div>
-->
</div>























<%= will_paginate @problems %>

<% count = 1 %>
<% if @problems.current_page > 1 %>
	<!-- Each page has at most 30 problems -->
	<% count = (@problems.current_page - 1) * 30  + 1 %>
<% end %>

<% if !logged_in? %>
	<table class="table table-striped problems-index">
		<thead>
			<tr>
				<th>ID</th>
				<th>Description / Title</th>
				<th>Solved By</th>
			</tr>
		</thead>
		<tbody>
			<% @problems.each do |problem| %>
				<tr>
					<td><%= problem.id %></td>
					<td><%= link_to problem.title, problem, class: "user_path" %></td>
					<td><%= problem.solved_by %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Description / Title</th>
				<th>Solved By</th>
				<th>Difficulty</th>
				<th>Solved</th>
				<th>Discussion</th>
			</tr>
		</thead>
		<tbody>
			<% @problems.each do |problem| %>
				<tr>
					<td><%= count %></td>
					<td><%= link_to problem.title, problem, class: "user_path" %></td>
					<td><%= problem.solved_by %></td>
					<td>
						<% problem.difficulty.downto(1) do |i| %>
							<span class="glyphicon glyphicon-star"></span>
						<% end %>
						<% (3 - problem.difficulty).downto(1) do |i| %>
							<span class="glyphicon glyphicon-star-empty"></span>
						<% end %>
					</td>
					<td>
						<% if @solved_problems.include? problem %>
							<span class="glyphicon glyphicon-ok" style="color:green"></span>
						<% else %>
							<span class="glyphicon glyphicon-remove" style="color:red"></span>
						<% end %>
					</td>	
					<% if current_user.problems.exists? problem.id %>
						<td><a data-toggle="tooltip" title="Go to the discussion thread" href="topics/<%= (Topic.find_by problem_id: problem.id, forum_id: 1).id %>"><%= image_tag "forum_icon.png", alt: "Forum Icon" %><span style= "float: right;"><%= pluralize(Topic.find(problem.id).posts.length, 'post') %></span></a></td>
					<% end %>
					<% if current_user.admin? %>
						<td><%= link_to "Delete", problem, method: :delete,
																				data: { confirm: "You sure?" } %></td>
						<td><%= link_to "Edit", edit_problem_path(problem) %></td>
					<% end %>
				</tr>
				<% count += 1 %>
			<% end %>
		</tbody>
	</table>

<% end %>


<%= will_paginate @problems %>
