<% provide(:title, 'New Problem') %>

<%= render 'topics/preview' %>
<% content_for :mathjax do %>
	<%= mathjax_tag %>
<% end %>

<div class="custom-form new-problem-view">
  <div class="limiter">
  	<div class="container-login100">
  		<div class="wrap-login100 primary-bs">
  			
				<%= render 'shared/new_problem_header' %>		


				<%= form_for(@problem, :html => { :method => :post, :class => 'problems-form login100-form validate-form', novalidate: :true }, url: problems_path) do |f| %>

					
    			<%= render 'shared/error_messages' %>
					
					<% Branch.all.each do |branch| %>
						<div class="field wrap-input100 validate-input m-b-18">
						<span class="label-input100" style="font-size: 12px; width:90px;"><%=branch.name%></span>
						<% branch.subtopics.each do |subtopic| %>
							<div class="form-check contact100-form-checkbox">
								<label class="label-checkbox100"><%=subtopic.name%>
									<input class="branch-input input-checkbox100" id="subtopic-<%=subtopic.id%>"  type="checkbox" name="subtopic[]" multiple value="<%=subtopic.id%>"> <span class="label-text checkmark"></span>
								</label>
							</div>
						<% end %>
						<span class="focus-input100"></span>
					</div>
					<% end %>	
 
  				<div class="field wrap-input100 validate-input m-b-18">
						<span class="label-input100" style="font-size: 12px; width:90px;">Title</span>
    				<%= f.text_field :title, autocomplete: "off", class: "input100", placeholder: "Enter Problem title" %>
						<span class="focus-input100"></span>
  				</div>

  				<div class="field wrap-input100 validate-input m-b-18">
						<span class="label-input100" style="font-size: 12px; width:90px;">Answer</span>
    				<%= f.text_field :answer, autocomplete: "off", class: "input100", placeholder: "Enter problem answer" %>
						<span class="focus-input100"></span>
  				</div>

  				<div class="field validate-input m-b-18">
						<span class="label-input100" style="font-size: 12px; width:90px;">Difficulty</span>
						<% difficulties = [[1, 1], [2, 2], [3, 3]] %>
						
    				<%= f.select(:difficulty, options_for_select(difficulties), {}, { class: "form-control country-select"}) %>
						<span class="focus-input100"></span>
  				</div>

					<div class="m-b-18 field bio">
      			<span class="label-input100" style="font-size: 12px; width:90px;">Question</span>
						<%= f.text_area :question, autocomplete: "off", class: "g-mt-5 form-control new-question-textarea", placeholder: "What is the question?" %>
    				<span class="focus-input100"></span>

					</div>

					<div class="problem-actions g-mt-20">
						<span class="btn g-mr-5 g-rounded-20 g-btn-secondary preview-btn" data-toggle="modal" data-target="#preview-modal">Preview</span>
						<%= f.submit "Create Problem", class: "btn g-rounded-20 g-btn-primary submit-post-btn" %>
					</div>
				<% end %>	
  		</div>
  	</div>
  </div>	
</div>
