<%= render 'solved_problems/show' %>
<% provide(:title, "Problem #{@problem.id}") %>

<div id="problems-nav">
	<!-- Puts previous problem button except for first problem-->
	<% if @problem.id != Problem.first.id %>
		<a href=<%= problem_path(@problem.id - 1) %>><span id="prev" class="glyphicon glyphicon-arrow-left"></span></a>
	<% end %>

	<!-- Puts next problem button except for last problem-->
	<% if @problem.id != Problem.last.id %>
		<a href=<%= problem_path(@problem.id + 1) %>><span id="next" class="glyphicon glyphicon-arrow-right"></span></a>
	<% end %>
</div>


<h2 class="text-center font-weight-600">
	<%= @problem.title %>
</h2>
<nav class="problem-navbar text-center" style="padding-bottom: 15px;">
	<ul class="text-center">
	<li class="percent-solved">Solved by <span class="problems-solved"><%=@problem.solved_by%></span> users </li>
		<li class="percent-solved">Success rate: <span class="problems-solved"><%= percentage(@problem.solved_by, @problem.submissions).round(2) %>%</span></li>
		<li class="percent-solved">Difficulty: 
			<span class="problems-solved">
				<% @problem.difficulty.downto(1) do |i| %>
					<span class="glyphicon glyphicon-star"></span>
				<% end %>
				<% (3 - @problem.difficulty).downto(1) do |i| %>
					<span class="glyphicon glyphicon-star-empty"></span>
				<% end %>
			</span>
		</li>
		<% if logged_in? %>
			<li>
				<%= link_to "/topics/#{@problem.id}", title: "Discussion Thread" do %>
				<img src="/chat.png" style="height: 1.8em; vertical-align: top;"  class="g-mr-5">
				<span class="font-weight-600">Discussion</span>
			<% end %>

			</li>				
		<% end %>
		</ul>
	</nav>


<div class="problem_content g-primary-card default-border">
	<%=@problem.question %>
	<% if @problem.problem_attribution %>
		<p class="g-mt-40 problems-solved">This problem was taken from <%=@problem.problem_attribution.author%>, <a href="<%=@problem.problem_attribution.link%>"><%=@problem.problem_attribution.title%>.</a></p>
	<% end %>
</div>

<% if logged_in? %>
	<% if solved_problem = SolvedProblem.find_by(user_id: current_user.id, problem_id: @problem.id) %>
		<div class="problem-solved">
			<p> Answer: <b><%= @problem.answer %> </b></p>
			<p style="font-size: 90%; color: #999;" class="g-mb-50"> Completed <%= time_ago_in_words(solved_problem.created_at) %> ago.</p>
		</div>
	<% else %>

	
			<%= form_tag attempt_path(:id => @problem), :method => 'post', remote: true, class: "g-mt-50 g-mb-50 text-center problem-form w-100" do %>
				<label class="g-mt-20">Enter your answer</label>
				<br>
				<%= text_field_tag :answer, params[:answer] %>
				<br>
				<%= submit_tag "Check", :name => nil, class: "btn g-btn-primary check g-mt-20" %>
			<% end %>
		
	<% end %>
<% else %>
	<div class="text-center g-mt-50">
		<h4><%=link_to "Log in", new_user_session_path, class: "font-weight-600 g-mb-50" %> to answer now!</h4>
	</div>
<% end %>

<script>
  	MathJax.Hub.Queue(["Typeset",MathJax.Hub]);	
</script>

