
<div class="leaderboard-item">
<% if logged_in? && current_user.id != user.id %>
	<div class="g-ph-5 problem-item-card problem-filter-card col-lg-offeset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12">
<% else %>
	<div class="g-ph-5 problem-item-card problem-filter-card col-lg-offeset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12 border-green border-3 <%="g-mb-50" if rank_preview %>">
<% end %>
	<li class="profile-li">
			<div class="profile-item-container">
			<div class="float-left g-mr-16">
					<h4 class="font-weight-600">
						<%=rank%>
					</h4>
				</div>

				<div class="profile-info-container">
					<a href="<%=user_path(user.id)%>"class="profile-thumb-container">
						<img class="profile-thumb" src="/default_profile_image.png"></img>
					</a>
					<div class="profile-information-container">
						<div class="profile-information-username">
							<a href="<%=user_path(user.id)%>"class="username-link dark-grey-color font-size-16 font-weight-600"><%=user.username%></a>
						</div>
						<div class="profile-information-name">
							name
						</div>
					</div>
				</div>
				<div class="float-right">
					<h4 class="font-weight-600">
						<% if params[:leaderboard] == "score" %>
							<img class="inline-icon-1 g-mr-5" title="User Score"src="/score_icon.png">
						<% elsif params[:leaderboard] == "problems-solved" %>
							<img class="inline-icon-1 g-mr-5" title="User Score"src="/count_icon.png">
						<% else %>
							<img class="inline-icon-1 g-mr-5" title="User Score"src="/kudos_icon.png">
						<% end %>

						<%=score%>
					</h4>
				</div>
			</div>
		</li>

</div>
</div>
