<%= render '/topics/preview' %>
<%= render '/conversations/new' %>

<% provide(:title, "Progress") %>

	<div class="profile-main-div g-mb-40 g-primary-card g-pa-20" id="profile-<%=@user.id%>">
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<!-- User Image -->
				<div class="profile-img-container g-mb-40">
					<img class="profile-img img-responsive w-100" src="/john_doe.jpg">
				</div>
				<!-- End User Image -->
				<!-- User Contact Buttons -->
				<% if current_user != @user %>
				<div class="user-contact-btns-<%=@user.id%>">
					<% if !current_user.following?(@user) %>
					<button class="btn btn-block g-mb-10 g-rounded-20 g-pv-12 g-btn-primary relationship-btn follow-btn" id="follow-btn-<%=@user.id%>">Follow</button>
					<% else %>
					<button class="btn btn-block g-mb-10 g-rounded-20 g-pv-12 g-btn-primary relationship-btn unfollow-btn" id="following-btn-<%=@user.id%>">Unfollow</button>
					<% end %>
						<button class="btn btn-block g-mb-10 g-rounded-20 g-pv-12 g-btn-dark new-msg" data-toggle="modal" data-target="#new-conversation-modal">Message</button>
				</div>
				<% end %>
				<!-- End User Contact Buttons -->
				
			</div>
			<div class="col-lg-9 col-md-9">
			<div class="col-md-10 col-lg-10">

				<!-- User details -->
				<h2 class="font-weight-600 g-mb-10 dont-break-out username"><%=@user.username%></h2>
				<!-- End User details -->
				<!-- User position -->
				<ul class="list-inline g-mb-10 font-weight-200">
					<li class="list-inline-item g-mr-20"><span class="glyphicon glyphicon-briefcase g-mr-8"></span>My job </li>
					<li class="list-inline-item g-mr-20"><span class="glyphicon glyphicon-education g-mr-8"></span>My university</li>
				</ul>
				<!-- End User position -->
				</div>

				<div class="col-md-2 col-lg-2 text-center">
					<div class="text-center inline-block max-width-150 vertical-align-top">
						<% percent = percentage(@user.solved_problems.count, Problem.all.count).round(2) %>
						<div class="c100 p<%=percent.round%> small center <%=color(percent)%>">
							<span><%=percent.round%>%</span>
							<div class="slice">
								<div class="bar"></div>
								<div class="fill"></div>
							</div>
						</div>
						<p class="g-mt-5">Completion</p>
					</div>
				</div>

				
				<hr class="g-mv-20 light-gray-border clear-both">

				<!-- User Bio -->
				<p class="dont-break-out">wlrkfjlkeeeelrjflekrflkwherlkfhlekrhflkherlkfhlkhrflkherlkfhlekrhgflkherlkgerjgfkjebrfklhelrkflkehrfklhelrkfhlkehrfkhelrkfhlkehrfklherlfhelkrfhlkehrflkherlkfhelkrfhlkehrflkhelrkfhlekrhflkehrfkelrkfhlkehrlkhlkwrhfklhrlkfhlkwhflkhwelfhlwkehflkwhef This is going to be the user bio. I do not have a bio column for the user model at the moment. I am going to add this later...</p>
				<!-- End User Bio -->

				<hr class="g-mv-20 light-gray-border">

				<!-- General Branch User stats -->
				<div class="w-100 text-center">
					<div class="col-md-4 col-lg-4">
							<h1 class="font-weight-900 g-mb-20"><%=@user.score%></h1>
							<h4 class="font-weight-300"><img class="inline-icon" title="User Score"src="/score_icon.png"></h4>

					</div>
					<div class="col-md-4 col-lg-4">
						<h1 class="font-weight-900 g-mb-20"><%=@user.solved%></h1>
						<h4 class="font-weight-300"><img class="inline-icon" title="Problems Solved" src="/count_icon.png"></h4>
					</div>
					<div class="col-md-4 col-md-4">
						<h1 class="font-weight-900 g-mb-20"><%=@kudos%></h1>
						<h4 class="font-weight-300"><img class="inline-icon" title="Kudos Points" src="/kudos_icon.png"></h4>
					</div>
				</div>
				<!-- General Branch User stats -->
			</div>
		</div>
	</div>

	<!-- Overall Stats -->
	<div class="overall-stats-container g-mb-40 g-pb-20 g-primary-card"> 
		<!-- Overall stats Header -->
		<h3 class="stats-title text-center navbar-gradient w-100 g-pa-20 font-weight-600 g-mt-0">
			Overall Progress
		</h3>
		<!-- End overall stats header -->
		<div class="row text-center">
			
			<% Branch.all.each_with_index do |branch, index| %>
				<% if index == 0 %>
				<div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1 text-center break-word height-100">
				<% else %>
				<div class="col-lg-2 col-md-2 text-center break-word left-border g-pv-100">
				<% end %>
					<h4 class="font-weight-600 break-word font-size-16"><%= branch.name%></h4>
					<% percent = percentage(@user.branch_problems_solved(branch), Problem.branch_count(branch)).round(1) %>
					<div class="g-mr-40 g-mb-20 text-center inline-block max-width-150 vertical-align-top">
						<div class="c100 p<%=percent.round%> small center <%#=color(percent)%> green ">
							<span><%=percent.round%>%</span>
							<div class="slice">
								<div class="bar"></div>
								<div class="fill"></div>
							</div>
						</div>
					</div>

				
					<% branch.unique_topics.each do |topic| %>
						<div class="">
							<h5 class="font-weight-600 left-align"><%=topic.name%></h5>
							<% percent = percentage(@user.topic_problems_solved(topic.name), Problem.topic_count(topic.name)).round(2) %>
							<div class="progress">
								<div class="progress-bar <%#= bg_color(percent) %> green-bg" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=percent%>%;">
									<span class="font-weight-900 <%="navbar-grey" if percent < 55 %> show"><%=percent.round%>%</span>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	<!-- End Overall Stats -->

	<% if @user.solved > 0 %>
	<!-- Recently Solved List -->
	<div class="recently-solved-container g-mb-40 g-pb-20 g-primary-card"> 
		<!-- List Header -->
		<h3 class="stats-title text-center navbar-gradient w-100 g-pa-20 font-weight-600 g-mt-0">
			Recently Solved
		</h3>
		<!-- End list header -->
	<ul class="g-mb-0 g-pl-0 list-style-none">
		<div class="recently-solved-problems">
		<% @problems_solved.each do |problem| %>
			<%= render partial: '/users/recently_solved_problem', locals:  { problem: problem } %>
		<% end %>
		</div>
		<% if @user.solved_problems.count > 10 %>
			<li class="text-center g-mt-20 more-recently-solved-container">
				<button class="btn g-rounded-50 g-pv-12 g-btn-primary vertical-align-middle load-more-problems-solved" id="load-more-problems-solved-<%=@user.id%>">Load More</button>
			</li>
		<% end %>
	</ul>
	</div>
	<!-- End Recently solved list -->
	<% end %>
</div>
