<div class="login100-form-title settings-nav" style="background-image: url(/form-bg1.jpg);">
	<span class="login100-form-title-1" style="font-size: 15px">
		<nav class="cl-effect-4">
			<a class=<%= set_new_problem_class %> href= "<%=new_problem_path%>">New Problem</a>
			<a class= <%= set_new_branch_class %> href=<%= new_branch_path %>>New Branch</a>
			<a class=<%=set_new_subtopic_class%> href=<%=new_subtopic_path%>>New Subtopic</a>
		</nav>
	</span>
</div>

