<% provide(:title, 'New Post') %>
<% content_for :mathjax do %>
	<%= mathjax_tag %>
<% end %>

<% if @post.content && !@post.content.empty? %>
	<div class="post" style="margin-bottom: 40px;">
		<table class="forum_table">
			<tbody>
				<tr>
					<td rowspan="2" class="forum_info">
						<div style="font-size:85%;">
							<%= Time.now.strftime("%a, %d %b %Y, %I:%M %p") %> 
						</div>
						<span style="font-weight:bold;">
							<%= @post.user.username %>
						</span>
						<br>
						<div style="font-size:95%">
							<%= @post.user.score %> &nbsp;
						</div>
						flag
					</td>
					<td>
						<div class="action_buttons">
							&nbsp; &nbsp;
							<a href="#">Report</a> &nbsp; &nbsp;
							<a title="Upvote" href="#">Upvote</a> &nbsp; 0
						</div>
					</td>			
				</tr>
				<tr>
					<td>
						<div	class="forum_message"><%= @post.content %>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

<% end %>
<div style="text-align:center;">
	
	<%= render 'shared/error_messages' %>
	<div style="font-size:90%;color:#aaa;">Please remember to be courteous and respectful in making posts.</div>
	<%= form_for(@post) do |f| %>
		<%= hidden_field_tag 'topic_id', params[:topic_id] %>
		<% #f.label :content %>
		<%= f.text_area :content, cols: 100, rows: 20 %>
		<div class="col-md-offset-3 col-md-2">
		<%= f.submit "Preview Message", class: "btn btn-primary" %>
		</div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<div class="col-md-2">
		<%= f.submit "Post Message", class: "btn btn-primary" %>
		</div>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<div class="col-md-2">
		<%= f.submit "Cancel", data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
		</div>
	<% end %>
	<br>
	<p style="font-size:90%">
		<b>NOTE:</b>
		" You have full access to your own posts and you will be able to edit/delete them at any time. "
	</p>
</div>
