<nav class="navbar navbar-default">
	<div class="container-fluid">
  	<div class="navbar-header">
  		<%= link_to "Project Heisenberg", root_path, class: "navbar-brand" %>
   	</div>
    <ul class="nav navbar-nav navbar-right">
    	<li class="<%= 'active' if current_page?(root_path) %>">
					<%= link_to "About", root_path %>
			</li>
			<li class="<%= 'active' if current_page?(archives_path) %>">
				<%= link_to "Archives", archives_path %>
			</li>
      
			<% if logged_in? %>
				<li class="<%= 'active' if current_page?(current_user) %>">
					<%= link_to "Progress", current_user %>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Messages
					<!--<span class="caret"></span>--></a>
					<% conversations = Conversation.where("sender_id = #{current_user.id}").or(Conversation.where("recipient_id = #{current_user.id}")).order(updated_at: :desc) %>
					<% if (count = unreadMessagesCount(conversations)) > 0 %>
					
						<span class="button_badge"><%= count %></span>
					<% end %>
					<ul class="dropdown-menu scrollable-menu">	
						<% conversations.each do |conversation| %>
							<% message = conversation.messages.order(updated_at: :desc).first %>
							<% next if message.nil? %>
							<% if message.read || current_user.id == message.user_id%>
								<li class="read"><a href="<%=conversation_path(conversation.id)%>"><%= raw notifications(conversation, message) %></a></li>
							<% else %>
								<li class="not_read"><a href="<%=conversation_path(conversation.id)%>"><%= raw notifications(conversation, message) %></a></li>
							<% end %>
						<% end %>
					</ul>
				</li>
				<li class="<%= 'active' if current_page?(edit_user_path(current_user)) %>">
					<%= link_to "Account", edit_user_path(current_user) %>
				</li>
				<li class="<%= 'active' if current_page?(friends_path) %>">
					<%= link_to "Friends", friends_path %>
				</li>
				
				<li class="<%= 'active' if current_page?('#') %>">
					<%= link_to "Log out", logout_path, method: :delete %>
				</li>
			<% else %>
				<li class="<%= 'active' if current_page?(signup_path) %>">
					<%= link_to "Register", signup_path %>
				</li>
      	<li class="<%= 'active' if current_page?(login_path) %>">
					<%= link_to "Log In", login_path %>
				</li>
			<% end %>
    </ul>
  </div>
</nav>

