<nav class="navbar navbar-default">
	<div class="container-fluid">
  	<div class="navbar-header">
  		<%= link_to "Project Heisenberg", root_path, class: "navbar-brand" %>
   	</div>
    <ul class="nav navbar-nav navbar-right">
    	<li class="active"><%= link_to "About", root_path %></li>
			<li><%= link_to "Archives", "#" %></li>
      <li><%= link_to "Recent", "#" %></li>
      <li><%= link_to "Register", signup_path %></li>
      <li><%= link_to "Log In", "#" %></li>
    </ul>
  </div>
</nav>

