<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Project Heisenberg</title>
    <%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if landing_page? || about_page? %>
			<%= stylesheet_link_tag 'landing_page', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'landing_page', 'data-turbolinks-track': 'reload' %>
    <% end %>
		<%= render 'layouts/shim' %>
		<%= render 'layouts/mathjax' %>
  </head>

  <body>
		<%= render 'layouts/header' %>
		<%= render 'notifications/notifications' if logged_in? %>
    <%= flash_messages %>
		<% if !(landing_page? || about_page?) %>
			<div class="container">
		<% end %>
			<%= yield %>
			<%#= debug(params) if Rails.env.development? %>	
		<% if !(landing_page? || about_page?) %>
			</div>
		<% end %>
		<%= render 'layouts/footer' %>
		<script>
			if (window.MathJax && !$("body[data-mathjax]").length) {
  			MathJax.Hub.Queue(
    			["Typeset",MathJax.Hub]
  			);
				$( "body" ).attr( "data-mathjax", true );
			}
		</script>
		<%#= render 'layouts/mathjax' %>

  </body>
</html>
